name: Build hidapi
on: [ push ]

jobs:
  build-windows:
    strategy:
      matrix:
        windows-arch: [ windows-latest, windows-11-arm ]
    runs-on: ${{ matrix.windows-arch }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: build windows ${{ matrix.windows-arch }}
        working-directory: zig
        run: zig build -Doptimize=ReleaseFast

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: hidapi-${{ matrix.windows-arch }}.dll
          path: zig/zig-out/bin/hidapi.dll

  build-linux:
    strategy:
      matrix:
        arch: [ ubuntu-24.04, ubuntu-24.04-arm ]
    runs-on: ${{ matrix.arch }}
    steps:
      - name: Install libudev
        run: sudo apt install -y libudev-dev

      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: build linux ${{ matrix.arch }}
        working-directory: zig
        run: zig build -Doptimize=ReleaseFast

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: hidapi-${{ matrix.arch }}.so
          path: zig/zig-out/lib/libhidapi.so
