name: Build hidapi natives
on:
  workflow_dispatch:
  push:
    tags:
      - 'natives-[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  build-natives:
    strategy:
      matrix:
        arch: [ windows-latest, windows-11-arm, ubuntu-24.04, ubuntu-24.04-arm ]
    runs-on: ${{ matrix.arch }}
    steps:
      - name: Install libudev
        if: ${{ contains(matrix.arch, 'ubuntu') }}
        run: sudo apt update && sudo apt install -y libudev-dev

      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: build ${{ matrix.arch }}
        working-directory: zig
        run: zig build -Doptimize=ReleaseFast

      - name: Archive Windows build
        uses: actions/upload-artifact@v4
        if: ${{ contains(matrix.arch, 'windows') }}
        with:
          name: hidapi-${{ matrix.arch }}.dll
          path: zig/zig-out/bin/hidapi.dll

      - name: Archive Linux build
        uses: actions/upload-artifact@v4
        if: ${{ contains(matrix.arch, 'ubuntu') }}
        with:
          name: hidapi-${{ matrix.arch }}.so
          path: zig/zig-out/lib/libhidapi.so

  release-natives:
    needs: build-natives
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
      - name: Download artifacts
        id: download-artifacts
        uses: dawidd6/action-download-artifact@v12
        with:
          skip_unpack: true

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: ${{ join(steps.download-artifacts.outputs.*.name, '\n') }}

