name: Build hidapi
on: [ push ]

jobs:
  build-windows:
    strategy:
      matrix:
        windows-arch: [ windows-latest, windows-11-arm ]
    runs-on: ${{ matrix.windows-arch }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: build windows x86_64
        working-directory: zig
        run: zig build -Doptimize=ReleaseFast

      - name: build windows arm64
        working-directory: zig
        run: zig build

      - name: list
        run: dir zig/zig-out/lib

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: hidapi-x86_64.dll
          path: zig/zig-out/lib/hidapi.lib
