name: Build hidapi
on: [ push ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - working-directory: zig
        run: zig build
